<TITLE>About Tcl/Tk Project Manager</TITLE>
<center><h1>Tcl/Tk Project Manager</h1>
Version 1.0.0</center>
<p>Автор: Сергей Калинин (aka BanZaj) <a href="mailto:banzaj28@yandex.ru">banzaj28@yandex.ru</a>
<br>Домашняя страница: <a href="http://nuk-svk.ru">http://nuk-svk.ru</a>

<p>IDE для программирования на Tcl/Tk
<p>Включает в себя:
<br>- менеджер проектов
<br>- менеджер файлов
<br>- текстовый редактор
<br>&nbsp;&nbsp;-- подсветка синтаксиса нескольких языков (Tcl, Html, Rpm.spec)
<br>&nbsp;&nbsp;-- навигация по процедурам
<br>&nbsp;&nbsp;-- поиск/замена информации
<br>&nbsp;&nbsp;-- переход на строку с заданным номером
<br>&nbsp;&nbsp;-- возможность повторения/отмены операций
<br>- встроенная контекстно-зависимая справочная ситема
<br>&nbsp;&nbsp;-- помощь по командам Tcl
<br>&nbsp;&nbsp;-- помощь по командам Tk
<br>&nbsp;&nbsp;-- помощь по IDE
<br>- запуск приложений из IDE

<p><center>&copy; Copyright <a href="http://nuk-svk.ru">Sergey Kalinin</a>, 2002




