<TITLE>Начало работы</TITLE>
<CENTER><h1>Начало работы с Project Manager-ом</h1></center>
<p>СОЗДАНИЕ ПРОЕКТА
<p>Для начала необходимо создать новый (либо открыть существующий) проект.
<br>Для этого в меню <i>"Проект"</i> выберите пункт <i>"Новый проект"</i> (либо <i>"Открыть проект"</i>). Откроется форма создания нового проекта, заполните все необходимые поля. Рассмотрим процедуру создания проекта на примере "Tcl/Tk Project manager":
<br><b>"Название проекта"</b> - полное название проекта (программы), это может быть любое предложение, например "Tcl/Tk Project Manager"
<br><b>"Файл проекта"</b> - имя файла проекта, т.е. имя основного файла вашей программы, в нашем примере это projman.tcl.
<br><b>"Каталог проекта"</b> - наименование каталога проекта. Каталог под этим именем будет создан в каталоге с проектами, который можно изменить в настройках(меню "Файл" -> "Установки"). По умолчанию все проекты будут помещены в Ваш домашний каталог в директорию /projects/tcl/"каталог проекта".
<br><b>Tcl интерпретатор</b> - название интерпретатора tcl для выполнения проекта, например tclsh, wish и т.п. Путь к интерпретатору следует указывать полностью - /usr/bin/tclsh
<br><b>"Версия"</b> - текущая версия программы (проекта), используется в имени файла архива, rpm-пакета и так далее.
<br><b>"Выпуск"</b> - по другому можно назвать "релиз", номер релиза, используется так же как и номер версии.
<br><b>"Автор"</b> - имя автора программы, используется в заголовках всех файлов проекта
<br><b>"Эл. почта"</b> - адрес электронной почты
<br><b>Компания</b> - наименование компании
<br><b>Домашняя страница</b> - адрес домашней страницы автора (либо компании) где в будущем будет размещен создаваемый проект.
<br>Все пункты, кроме первых четырех, заполнять не обязательно, но желательно.
<p>ОТКРЫТИЕ ПРОЕКТА
<p>Чтобы открыть (добавить в дерево проектов) существующий проект, необходимо в меню <i>"Проекты"</i> выбрать пункт <i>"Открыть проект"</i>. После этого на экран будет выведено окно выбора директории, где Вам следует выбрать каталог с тем проектом, который хотите добавить, для этого щелкните левой кнопкой мыши на нужном каталоге (в нижнем поле должно появиться полное путевое имя этого каталога) и нажмите кнопку <i>"Выбрать"</i>. После этого откроется форма нового проекта с заполненными некоторыми полями, необходимо заполнить все поля и нажать кнопку <i>"Создать"</i>. файлы проекта будут скопированы в директорию с проектами, установленную в "Настройках" и проект отобразится в дереве проектов.
<p>ВЫБОР АКТИВНОГО ПРОЕКТА
<p>Все операции с проектами доступны только для активного проекта.
Название активного проекта отображается в строке статуса внизу основного окна программы. Чтобы сделать нужный проект активным необходимо щелкнуть мышкой на имени проекта в дереве проектов.
<p>УДАЛЕНИЕ ПРОЕКТА
<p>Для удаления текущего (активного) проекта нужно в меню <i>"Проекты"</i> выбрать пункт <i>"Удалить проект"</i> и подтвердить операцию.
<p>РЕДАКТИРОВАНИЕ ФАЙЛА
<p>Чтобы открыть нужный файл для просмотра или редактирования щелкните два раза мышкой на имени этого файла. Редактор позволяет одновременно открывать большое количество файлов. Переключения между окнами редактора осуществляется нажатием сочитания клавиш <b>Control + m</b>.




