<TITLE>Help system</TITLE>
<CENTER><h1>Использование справочной системы</h1></center>
<p>Для облегчения доступа к справочной информации Project Manager оснащен контекстно-зависимой справочной системой. Через систему помощи доступна документация по Tcl/Tk Project manager, по операторам и командам языка Tcl и графического расширения Tk.
<p>Чтобы воспользоваться встроенной справочной системой нужно нажать на клавишу F1, в результате чего на экран будет выведено окно справочной системы.
<p>Для получения справки по какому-либо оператору необходимо в редакторе выделить этот оператор и нажать F1. Либо в окне справочной системы найти в списке операторов нужный Вам и щелкнуть на него мышкой.




