<TITLE>Hot keys</TITLE>
<center><h1>Сочетания клавиш</h1></center>

<p><b>Ctrl + A</b> - Сохранить файл под другим именем.
<p><b>Ctrl + C</b> - Команда копирует выделенный в окне редактора текст в буфер обмена.
<p><b>Ctrl + F</b> - Поиск заданного выражения в тексте.
<p><b>Ctrl + G</b> - Перейти к строке с заданным номером.
<p><b>Ctrl + J</b> - Вывести список функций с именами полностью или частично совпадающими с введенным.
<p><b>Ctrl + L</b> - Вывести список слов, полностью или частично совпадающих с введенным.
<p><b>Ctrl + M</b> - Переключение между открытыми файлами (между окнами редактора).
<p><b>Ctrl + N</b> - Создать новый файл. Команда вызывает диалог создания файла.
<p><b>Ctrl + O</b> - Открыть файл.
<p><b>Ctrl + Q</b> - Выход из Project Manager-a.
<p><b>Ctrl + R</b> - Поиск и замена заданного выражения в тексте.
<p><b>Ctrl + S</b> - Сохранить файл. Сохраняется файл, который открыт в текущем окне редактора.
<p><b>Ctrl + T</b> - Поменять местами два символа, стоящих до и после курсора.
<p><b>Ctrl + U</b> - Перемещает курсор на соответствующую открытую или закрытую скобку.
<p><b>Ctrl + V</b> - Вставка фрагмента текста из буфера обмена, скопированного предыдущей командой.
<p><b>Ctrl + W</b> - Закрыть файл. Команда закрывает файл открытый в текущем окне редактора.
<p><b>Ctrl + X</b> - Вырезать выделенный фрагмент текста в буфер омена.
<p><b>Ctrl + Z</b> - Отменить операцию
<p><b>F1</b> - Вызов системы помощи по программе и по языку. Если в тексте выделить команду и нажать данную клавишу то будет выведена на экран подсказка по этой команде.
<p><b>F3</b> - Повторный поиск, команда работает с последним введенным выражением в диалоговом окне поиска
<p><b>F5</b> - Команда создания архивного файла. Работает только с активным проектом
<p><b>F6</b> - Создание RPM.
<p><b>F9</b> - Выполнение ("компиляция") текущего (активного) проекта.



