<title>update</title>
<CENTER><h1>update</h1></CENTER>
<p>Команда <B>update</B> обрабатывает события, находящиеся в состоянии ожидания, и обратные вызовы (idle callbacks).
<p><b>СИНТАКСИС</B>
<p><b>update</b> <i>idletasks</i>
<p><b>ОПИСАНИЕ</B> 
<p>С помощью этой команды обновляется состояние приложения, поскольку при ее вызове обрабатываются все необработанные события и выполняются все асинхронные вызовы (idle callbacks).
<P>Если в команде задана опция <B>idletasks, </B>то новые события и ошибки не обрабатываются, но выполняются все асинхронные вызовы. Команду <B>update idletasks</B> удобно использовать тогда, когда нужно выполнить немедленно действия, которые обычно откладываются, например, обновить отображаемые на дисплее данные или окна. Большинство обновлений изображений на дисплее выполняются в виде фоновых вызовов, и эта команда обеспечит их выполнение. Однако, если изменения были вызваны событиями, они не будут выполнены немедленно.
<P>Команда <B>update</B> без опций полезна в тех случаях, когда во время долго выполняющихся вычислений необходимо обеспечить оперативную реакцию приложения на события, например, на действия пользователя. Вызов команды <B>update</B> и обеспечивает обработку таких событий.

