<title>Bell</title>
<center><h1>bell</h1></CENTER>
<FONT size=+1>Команда подает звуковой сигнал.</FONT>
<p><B><FONT size=+1>СИНТАКСИС</FONT></B></p>
<p><FONT size=+1><B>bell</B> -<B>displayof</B> <I>window</I></FONT></DIR></UL>
<p><B><FONT size=+1>ОПИСАНИЕ</FONT></B>
<p><FONT size=+1>Команда <B>'bell'</FONT></B>&nbsp
подает сигнал громкоговорителем дисплея для <I>window</I>.
Если этот аргумент не 
задан, то по умолчанию используется дисплей главного окна приложения. В 
некоторых случаях команда гасит работающий в данный момент хранитель 
экрана (screen-saver), и окно снова становится видимым.</FONT></p>
<p><B><FONT size=+1>ПРИМЕР</FONT></B> 
<p>
