<TITLE>About Tcl/Tk Project Manager</TITLE>
<center><h1>Tcl/Tk Project Manager</h1></center>
<p>Author: Sergey Kalinin <a href="mailto:banzaj28@yandex.ru">banzaj28@yandex.ru</a>
<br>Home page: <a href="http://nuk-svk.ru">http://nuk-svk.ru</a>

<p>Tcl/Tk Project Manager is a full IDE for programming in TCL/Tk. 
It includes a project and file manager, a source editor with 
syntax highlighting and procedure navigation, a context-sensitive 
help system, and much more. Included TkDIFF+ - compare tools and TkREGEXP - a graphical front-end to write/debug regular expression.

<br>Working an Unix (Linux tested) and Windows. 

<p><center>&copy; Copyright <a href="http://nuk-svk.ru">Sergey Kalinin</a>, 2002


