<TITLE>Begin work</TITLE>
<CENTER><h1>Begin work with ProjMan</h1></center>
<p>CREAT NEW PROJECT
<p>Select "New project" for creation new project or "Open project" for opened existing project into "Projects" menu.
<p>SET ACTIVE PROJECT
<p>All operation with projects into ProjMan implemented only active project. 
Click mouse on project name in tree for set active project. 
Name of current (active) project You will see into status bar.
<p>DELETING PROJECT
<p>For deleting project You must select "Delete project" into "Projects" menu.
<p>EDITING FILE
<p>For editing file click twice on file name into tree.


