<TITLE>Hot keys</TITLE>
<center><h1>Hot keys</h1></center>

<p><b>Ctrl + A</b> - Saved file eith different name
<p><b>Ctrl + C</b> - Copy selected text into clipboard.
<p><b>Ctrl + F</b> - Search words into text.
<p><b>Ctrl + G</b> - Goto line with number
<p><b>Ctrl + J</b> - Get procedure list
<p><b>Ctrl + L</b> - Get word list
<p><b>Ctrl + M</b> - Switch editors open tabs
<p><b>Ctrl + N</b> - Create new file
<p><b>Ctrl + O</b> - Opened existing file.
<p><b>Ctrl + Q</b> - Quit from Project Manager.
<p><b>Ctrl + R</b> - Find and replacement words into text.
<p><b>Ctrl + S</b> - Saved current opened file.
<p><b>Ctrl + T</b> - Reverses the order of the two characters to the right of the  insertion cursor
<p><b>Ctrl + U</b> - Jump cursor on open/close bracked
<p><b>Ctrl + V</b> - Insert text from clipboard
<p><b>Ctrl + W</b> - Close current opened file.
<p><b>Ctrl + X</b> - Cut selected text into clipboard.
<p><b>Ctrl + Z</b> - Undo last operation
<p><b>Ctrl + /</b> - Selects the entire contents of the widget
<p><b>Ctrl + \\</b> - Clears any selection in the widget
<p><b>F1</b> - Execute context-sensitive help system
<p><b>F3</b> - Repeat search
<p><b>F5</b> - Make archive. Workined with active project only.
<p><b>F6</b> - Make RPM
<p><b>F9</b> - Run current project.






